@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
}

*{
	margin: 0px;
	padding: 0px;
}

#main{
	width:960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#info1{
	margin-left: 20px;
}

#info1 li{
	margin-top: 5px;
}

#info2{
	margin-left: 20px;
}

#info2 li{
	list-style:none;
	margin-top: 5px;
}

